<h1>Stores</h1>

<p><%= @stores.count %> Total Stores</p>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>City</th>
    <th>Distance</th>
    <th>Phone</th>
    <th>Type</th>
  </tr>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store["storeId"] %></td>
        <td><%= link_to store["longName"], store_path(store["storeId"])%></td>
        <td><%= store["city"] %></td>
        <td><%= store["distance"] %></td>
        <td><%= store["phone"] %></td>
        <td><%= store["storeType"] %></td>
      </tr>
    <% end %>
</table>
