<h1>Store</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>City</th>
    <th>Distance</th>
    <th>Phone</th>
    <th>Type</th>
  </tr>
    <tr>
      <td><%= @store["storeId"] %></td>
      <td><%= @store["longName"]%></td>
      <td><%= @store["city"] %></td>
      <td><%= @store["distance"] %></td>
      <td><%= @store["phone"] %></td>
      <td><%= @store["storeType"] %></td>
    </tr>
</table>
<br>
<%= @store.hoursAmPm %>
